@import "tailwindcss";

:root, html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root, html {
  font-size: clamp(18px, 2vw, 28px);
}


@theme {
  --font-intel-one: var(--font-intel-one);
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);

  --color-theme-white-100: #F9F7F7;
  --color-theme-white-200: #DBE2EF;
  --color-theme-blue-100: #3F72AF;
  --color-theme-blue-200: #112D4E; 
}
